.stars {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.star {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;  
}

.star img {
  width: 400px;
}