html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.kuva {
  display: inline-block;
  width: 30%;
  margin: 0;
  padding: 0.5%;
  border-radius: 2%;
}

.kuva1 {
  border: 0.5vw solid green;
}

.kuva2 {
  border: 0.5vw solid red;
}

.kuva3 {
  border: 0.5vw solid blue;
}

img {
  width: 100%;
}