html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 1px solid;
}

div.kuvat {
  width: 100%;
  height: 100%;
}

div.kuva {
  display: inline-block;
  width: 30%;
}

img {
  width: 96%;
}

#kuva1 {
  border: 5px solid green;
}

#kuva2 {
  border: 5px solid red;
}

#kuva3 {
  border: 5px solid blue;
}