html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.kuva {
  display: inline-block;
  width: 30%;
  margin: 0.2%;
  padding: 0.5%;
  border-radius: 2%;
}

/* Extra: different ways to define colors */
.kuva1 {
  border: 0.5vw solid green;
}

.kuva2 {
  border: 0.5vw solid #ff0000;
}

.kuva3 {
  border: 0.5vw solid rgb(0, 0, 255);
}

img {
  width: 100%;
}