.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
}

.grid-container-hidden {
  display: none;}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}