li:nth-child(odd) {
  color: purple;
}

ul {
  list-style-type: none; /* Remove default bullets */
  padding-left: 0; /* Remove default padding */
}

ul li {
  position: relative;
  padding-left: 15px; /* Space for the vertical bar */
  margin-top: 2px;
}

ul li::before {
  content: ""; /* Add an empty content to replace the bullet */
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 3px;
  background-color: green; /* Color of the vertical bar */
}