.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countries {
  display: flex;
  flex-direction: row;
}

.country {
  display: flex;
  flex-direction: column;
  padding: 100px 0 100px 0;
}

.country div {
  width: 180px;
  padding: 5px 10px px 0px;
}

.country img {
  margin: 5px 0 0 0;
  width: 60px;
}

.label {
  font-weight: bold;
}
